.logoIcon {
    height: 50px;
}

.headerBorder {
    // border-bottom: 1px solid black;
}

.footerBorder {
    padding-top: 10px;
    border-top: 1px solid black;
}

h1, h2, h3, h4 {
    font-family: 'Mountains of Christmas', cursive;
    font-weight: bold;
    color: black;
    
}

h2 {
    font-size: 1.6rem;
}

body {
    font-family: 'Arial';
    background-image: url('../images/christmas-colour.png');
    background-size: 250px;
    margin-bottom: 20px; 
}

.whitebkgd {
    background: #f8f9fa;
    padding-bottom: 150px;
}

.homeGift {
    background-image: url('../images/Gift2Boxs.svg');
    background-size: contain;
    width: 150px;
}

.planningGift {
    background-image: url('../images/GiftPinkWhite.svg');
    background-size: contain;
}

.profileGift {
    background-image: url('../images/GiftYellowRed.svg');
    background-size: contain;
    width: 150px;
}

.eventGift1 {
    background-image: url('../images/GiftPinkOrange.svg');
    background-size: contain;
}

.eventGift2 {
    background-image: url('../images/GiftYellowRed.svg');
    background-size: contain;
}

.btnBorder {
    border: 1px solid #0f0f0f;
}

.giftSize {
    max-width: 800px;
}

.bottomMargin {
    margin-bottom: 25px;
}

.boxIt {
    background-color: rgba($color: #fff, $alpha: 0.2);
}

.form-control {
    background-color: rgba(255, 255, 255, 0.85);
}

textarea.form-control {
    height: 150px;
  }

.centerIt {
    text-align: center;
}

.eventWidth {
    max-width: 500px;
}

.eventDate {
    font-family: 'Arial';
    font-size: 1.4rem;
}

.eventName {
    font-size: 2rem;
}

.joinInputs {
    max-width: 350px;
}

.inputWidth {
    width: 220px;
}

.headerH1 {
    color: black;
    text-shadow:
        -1px -1px 0 #fff,  
        1px -1px 0 #fff,
        -1px 1px 0 #fff,
        1px 1px 0 #fff;
}

.btnHome {
    width: 150px;
}

.imgWidths {
    width: 750px;
}

.error {
    position: relative;
    bottom: 33px;
    left: 40px;
    color: darkred;
    border: 1.5px solid darkred;
    padding: 2px;
    font-size: 14px;
    width: 110px;
}

.errorM {
    position: relative;
    bottom: 33px;
    color: darkred;
    border: 1.5px solid darkred;
    padding: 5px;
    font-size: 14px;
}

.bg-green {
    // background-color: darkgreen;
    background: linear-gradient(to bottom, #006e2e 0%,#79af6d 100%);
    color: white
}

.whiteText {
    color: white;
}